*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  /*reset*/
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #212529;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: grid;
  grid-template-rows: 60px minmax(60px, 70px);
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 230px;
  padding: 40px 0;
  color: #ffffff;
  background-color: #000000;
}

h1,
h2,
h3 {
  font-family: Times, Times New Roman, Georgia, serif;
  font-weight: normal;
}

header img {
  margin: 0 auto;
}

header h1 {
  align-self: center;
}

header p {
  max-width: 900px;
}

/**/

section {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-gap: 30px;
}

main article {
  margin: 30px 0;
}

article h2 {
  margin-bottom: 10px;
}

article p {
  color: #505050;
}

/**/

aside {
  display: grid;
  grid-template-rows: minmax(80px, 100px) 1fr;
  border: 1px solid rgba(219, 219, 219, 0.295);
}

aside h2 {
  padding: 30px;
  color: #ffffff;
  background-color: #ff3e81;
  text-align: center;
  margin-top: -30px;
  align-self: center;
}

aside form {
  display: grid;
  grid-gap: 5px;
  padding: 20px;
}

form label {
  align-self: flex-end;
}

form input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(219, 219, 219, 0.726);
}

form input[type="button"] {
  cursor: pointer;
  align-self: flex-end;
  margin-top: 10px;
  height: 50px;
  font-size: 20px;
  background-color: #4ad8cb;
  color: #fff;
}

/**/

@media screen and (max-width: 992px) {
  header p,
  header h1 {
    padding: 20px;
  }

  section {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    grid-gap: 5px;
  }

  aside h2 {
    margin-top: 0;
  }
}
